@using Microsoft.AspNetCore.Http
@using System.Text.Json
@using WebBackOffice.DTO.BackOffice
@using WebBackOffice.Pages.Helper

@{
    var menuJson = Context.Session.GetString("MenuUsuario");

    List<MenuItemDto> menu = new List<MenuItemDto>();

    if (!string.IsNullOrEmpty(menuJson))
    {
        var menuPlano = JsonSerializer.Deserialize<List<Menu>>(menuJson);
        menu = MenuHelper.ConstruirMenu(menuPlano);
    }
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BackOffice Lab</title>
    <!-- Agrega esta línea para el CSS de Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <link rel="stylesheet" href="~/css/PlanAccion.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body>

<div class="layout">

    <!-- SIDEBAR -->
    <aside class="sidebar">
           
        <h2>BackOffice Lab</h2>

            @foreach (var padre in menu)
            {
                <div class="menu-item">
                    <div class="menu-title">
                        <span class="menu-text">
                            <i class="@padre.Icono menu-icon"></i>
                            @padre.Titulo
                        </span>

                        @if (padre.Hijos.Any())
                        {
                            <span class="arrow">▸</span>
                        }
                    </div>


                    @if (padre.Hijos.Any())
                    {
                        <div class="submenu">
                            @foreach (var hijo in padre.Hijos)
                            {
                                <a href="@hijo.Url">
                                    <i class="@hijo.Icono submenu-icon"></i>
                                    @hijo.Titulo
                                </a>
                            }
                        </div>
                    }
                </div>
            }


    </aside>
    <div class="sidebar-overlay"></div>
    <!-- CONTENT -->
    <main class="content">

        <div class="topbar">
            <button class="menu-toggle d-md-none" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>

            <h1>@ViewData["Title"]</h1>

            <div class="user-menu">
                <span class="user-name">
                    👤 @Context.Session.GetString("Username")
                </span>

                    <a asp-page="/BackOffice/CambiarPassword" class="user-link">
                        🔑 Cambiar password                        </a>

                <a asp-page="/BackOffice/Logout" class="user-link logout">
                    🚪 Cerrar sesión
                </a>
            </div>
        </div>
     
        @RenderBody()

    </main>

</div>
  
</body>
<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</html>

