@using Microsoft.AspNetCore.Http
@using System.Text.Json
@using Microsoft.Extensions.Options
@using WebBackOffice.DTO.BackOffice
@using WebBackOffice.Pages.Helper
@inject IOptions<SessionOptions> SessionOptions
@{
    var menuJson = Context.Session.GetString("MenuUsuario");

    List<MenuItemDto> menu = new List<MenuItemDto>();

    if (!string.IsNullOrEmpty(menuJson))
    {
        var menuPlano = JsonSerializer.Deserialize<List<Menu>>(menuJson);
        menu = MenuHelper.ConstruirMenu(menuPlano);
    }
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BackOffice Lab</title>
    <!-- Agrega esta línea para el CSS de Bootstrap -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Layout.css" />
    <link rel="stylesheet" href="~/css/PlanAccion.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

</head>

<body onload="VigilaActividad();">

    <div id="globalLoading" class="loading-overlay d-none">
        <div class="spinner-container">
            <div class="spinner-border text-primary" role="status"></div>
            <div class="mt-2 fw-semibold">Procesando...</div>
        </div>
    </div>
    <div class="layout" id="content-AppPart">

    <!-- SIDEBAR -->
    <aside class="sidebar">
           
        <h2>BackOffice Lab</h2>

            @foreach (var padre in menu)
            {
                <div class="menu-item">
                    <div class="menu-title">
                        <span class="menu-text">
                            <i class="@padre.Icono menu-icon"></i>
                            @padre.Titulo
                        </span>

                        @if (padre.Hijos.Any())
                        {
                            <span class="arrow">▸</span>
                        }
                    </div>


                    @if (padre.Hijos.Any())
                    {
                        <div class="submenu">
                            @foreach (var hijo in padre.Hijos)
                            {
                          

                                <a href="@(Url.Content("~/") + hijo.Url.TrimStart('/'))">
                                    <i class="@hijo.Icono submenu-icon"></i>
                                    @hijo.Titulo
                                </a>
                            }
                        </div>
                    }
                </div>
            }


    </aside>
    <div class="sidebar-overlay"></div>
    <!-- CONTENT -->
    <main class="content">

        <div class="topbar">
            <button class="menu-toggle d-md-none" aria-label="Abrir menú">
                <i class="fa-solid fa-bars"></i>
            </button>

            <h1>@ViewData["Title"]</h1>

            <div class="user-menu">
                <span class="user-name">
                    👤 @Context.Session.GetString("Username")
                </span>

                    <a asp-page="/BackOffice/CambiarPassword" class="user-link">
                        🔑 Cambiar password                        </a>

                <a asp-page="/BackOffice/Logout" class="user-link logout">
                    🚪 Cerrar sesión
                </a>
            </div>
        </div>
     
        @RenderBody()

    </main>

</div>

    <div id="dvAlertaOK" class="css_alerta_contenedor">
        <div class="alert alert-success alert-dismissable">
            <button onclick="javascript: $('#dvAlertaOK').hide();" class="close" type="button">×</button>
            <a class="alert-link" href="#"><span id="dvAlertaOK_titulo">!</span></a>
            <span id="dvAlertaOK_msg">.</span>
        </div>
    </div>
    <div id="dvAlertaWARN" class="css_alerta_contenedor">
        <div class="alert alert-warning alert-dismissable">
            <button onclick="javascript: $('#dvAlertaWARN').hide();" class="close" type="button">×</button>
            <a class="alert-link" href="#"><span id="dvAlertaWARN_titulo">!</span></a>
            <span id="dvAlertaWARN_msg">WARN.</span>
        </div>
    </div>
    <div id="dvAlertaERROR" class="css_alerta_contenedor">
        <div class="alert alert-danger alert-dismissable">
            <button onclick="javascript: $('#dvAlertaERROR').hide();" class="close" type="button">×</button>
            <a class="alert-link" href="#"><span id="dvAlertaERROR_titulo">!</span></a>
            <span id="dvAlertaERROR_msg">ERROR.</span>
        </div>
    </div>


    <div class="modal fade" id="modalsession" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header bg-danger text-white">
                    <h5 class="modal-title">Sesión Expirada</h5>
                </div>
                <div class="modal-body text-center">
                    <i class="fa-solid fa-clock-rotate-left fa-3x mb-3 text-muted"></i>
                    <p>Su sesión ha finalizado por inactividad. Por favor, vuelva a iniciar sesión.</p>
                </div>
                <div class="modal-footer">
                    <a asp-page="/BackOffice/Logout" class="btn btn-primary w-100">
                        Ir al Login
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript">
     let modalsession;

    document.addEventListener("DOMContentLoaded", function () {
        modalsession = new bootstrap.Modal(
            document.getElementById('modalsession')
        );
    });
    var timeoutMinutes = @SessionOptions.Value.IdleTimeout.TotalMinutes;
    console.log("El timeout es: " + timeoutMinutes);
    var segundosDesdeUltimaActividad = 0;
    var BanderaActividad = false;

    function VigilaActividad() {
        segundosDesdeUltimaActividad = 0;
        BanderaActividad = false;
        $('#content-AppPart').on('click', function (event) {
            solicitarReload();
        });
        setInterval(ControlTiempo, 60000);
    }

    function ControlTiempo() {
        var maximaInactividad = (parseInt(timeoutMinutes));
        segundosDesdeUltimaActividad++;
        if (segundosDesdeUltimaActividad == maximaInactividad) {
        
            modalsession.show();
            BanderaActividad = true;
        }
    }

    function reseteaActividad() {
        segundosDesdeUltimaActividad = 0;
    }

    function solicitarReload() {
        if (BanderaActividad == true) {
          
              modalsession.show();
        }
    }

    var EventosActividad = [
        'keydown', 'keypress', 'scroll', 'mousedown', 'mousemove', 'touchstart', 'resize'
    ];

    EventosActividad.forEach(function (eventName) {
        document.addEventListener(eventName, reseteaActividad, true);
    });
        function Reload() {
        window.parent.postMessage("reload", "*");
    }
</script>
</html>

